* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}



header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


#nav{
    width: 100%;
}

#nav ul {
    justify-content: center;
    list-style: none;
    display: flex;
}

#nav ul a {
    text-decoration: none;
    color: white;
    margin: 0 12px;
    transition: all 600ms;
    letter-spacing: 1px;
}

#nav ul a:hover {
    color: #ff0245;
}

#nav-icon {
    color: white;
    display: none;
    
}



.cv h1 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke: 0.9px rgb(67, 155, 141);
    color: white; 
    
}



#sobremi {
    max-width: 1250px;
    margin: auto;
    padding: 100px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#readMore_btn {
    margin: 5px 0 6.5px 0;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    border-color: #FE9FF8;
    background-color: white;
    cursor: pointer;
    transition: all 550ms;
}

.datos div :hover{
    transform: scale(1.1);
}

.hideText {
    display: none;
}

.showText {
    display: block;
    display: flex;

}


.datos {
    text-align: center;
}



.showText p {
    margin: auto;
}


.container-img {
    margin-right: 80px;
}

.container-img img {
    padding: 7px;
    border-radius: 20px;
    background-color: #ad9f9f;
    max-width: 100%;
    height: auto;
}

.sobremi h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    color: #111135;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: #d3d3d3;
}

.sobremi h3 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 3px
}

.sobremi h3 span {
    color: #d86057;
}

.sobremi h4 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0;
    color: #565656;
    letter-spacing: 1px;
}

.sobremi p{
    font-size: 14px;
    color: #565656;
    font-family: 'Unbounded', cursive;
}



#habilidades {
    background: linear-gradient(90deg, rgba(162, 162, 162, 1) 21%, rgba(236, 155, 155, 1) 56%);
    color: rgb(0, 0, 0);
    margin-bottom: 75px;
}

#habilidades h2 {
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 80px;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 75px;
}


#hab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

#hab article {
    margin-bottom: 28px;
    transition: all 400ms;
}

#hab article:hover{
    transform: scale(1.1);
}

#hab article p{
    font-family: 'Unbounded', cursive;
    font-size: 1rem;

}

#hab article div div img {
    width: 50px;
}

#hab article div div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}


#hab article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

}

#hab article div h3 {
    padding: 0 30px 2px 30px;
    border-bottom: 3px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: black;
}


#contacto {
    margin-top: 100px;
    height: 90vh;
    text-align: center;
}

#contacto h2 {
    font-size: 30px;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 55px;

}




#contacto {
    max-width: 1100px;
    margin: auto;
}

form input:focus {
    outline: none;
    border-color: #bb7be0bb;
}

form textarea:focus {
    outline: none;
    border-color: #bb7be0bb;
}

.fila_junta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.fila {
    margin-bottom: 18px;
}


form input, textarea {
    padding: 18px;
    border-radius: 18px;
    border: none;
    border: 2.5px solid;
    font-size: 18px;

}

form:focus {
    outline: none;
    border-color: #51a2d8;
}

.fila_junta input {
    width: 48%;
}

.fila input,
textarea {
    width: 100%;
}

.fila textarea {
    resize: none;

}

.btn-enviar{
    background-color: white;
    cursor: pointer;
}



@media screen and (max-width:800px) {

    header {
        height: 50px;
    }

    .container-header{
        padding:  5px 20px
    
    }

    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;

    }

    nav.responsive ul {
        display: block !important;
        text-align: center;

    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #nav-icon {
        display: block !important;
        font-size: 25px;
    }

    #sobremi {
        grid-template-columns: auto;
        grid-template-areas: "info"
            "img-datos";
    }

    .sobremi {
        grid-area: info;
        text-align: center;

    }

    .sobremi p {
        margin-bottom: 70px;
        font-family: 'Unbounded', cursive;
    }

    .container-img {
        margin: auto;
        grid-area: img-datos;
    }

    .container-img div:first-child {
        width: 60%;
        margin: auto;
    }

   
    .showText p {
        margin: auto;
        
    }


}

@media screen and (max-width:500px) {

    .showText {
        flex-direction: column;
    }
}