* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}



header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.container-header {
    max-width: 1100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
}

#nav{
    margin-right: 160px;
}

#nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#nav ul a {
    text-decoration: none;
    color: white;
    margin: 0 12px;
    scroll-behavior: smooth

}

#nav ul a:hover {
    color: #ff5080;
}

#nav-icon {
    position: absolute;
    right: 10px;
    color: white;
    display: none;
}



.cv h1{
    font-size: 25px;
    color:white;
}



#sobremi {
    max-width: 1250px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#readMore_btn {
    margin: 5px 0 6.5px 0;
    font-size: 14.5px;
    padding: 2px;
    border-radius: 10px;
    border-color: #FE9FF8;
    background-color: white;
    cursor: pointer;
    text-align: center;
}

.hideText {
    display: none;
}

.showText {
    display: block;
    display: flex;
}


.datos {
    text-align: center;
}

.showText p {
    margin: auto;
}


.container-img {
    margin-right: 80px;
}

.container-img img {
    padding: 7px;
    border-radius: 20px;
    background-color: #ad9f9f;
    width: 100%;
}

.sobremi h2 {
    font-size: 30px;
    color: #111135;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: #d3d3d3;
}

.sobremi h3 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 1px
}

.sobremi h3 span {
    color: #8b0f30;
}

.sobremi h4 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: 1px;
}

.sobremi  {
    font-size: 16px;
    color: #565656;
    
}



#habilidades {
    background-color: rgba(34, 34, 34, 0.068);
    color: rgb(0, 0, 0);
    margin-bottom: 66px;
}

#habilidades h2 {
    margin-bottom: 52px;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 55px;
}


#hab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

#hab article{
    margin-bottom: 28px;
}


#hab article div div img {
    width: 50px;
    z-index: 2;
    background-color: rgba(255, 240, 0, 0);
}

#hab article div div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}


#hab article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    
}

#hab article div h3{
    padding: 0 30px 2px 30px;
    border-bottom: 3px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #FE9FF8;
}


#contacto{
    margin-top: 100px;
    height: 90vh;
    text-align: center;
}

#contacto h2{
    font-size: 30px;
    margin-bottom: 55px;

}




#contacto{
    max-width: 1100px;
    margin: auto;
}

form input:focus{
    outline: none;
    border-color: #bb7be0bb;
}

form textarea:focus{
    outline: none;
    border-color: #bb7be0bb;
}

.fila_junta{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.fila{
    margin-bottom: 18px;
}


form input, textarea{
    padding: 18px;
    border-radius: 18px;
    border: none;
    border: 2.5px solid ;
    font-size: 18px;
    background-color: white;

}

form:focus{
    outline: none;
    border-color: #51a2d8;
}

.fila_junta input{
    width: 48%;
}

.fila input, textarea{
    width: 100%;
}

.fila textarea{
    resize: none;

}

@media screen and (max-width:800px){
    
    header{
        height: 50px;
    }
    
    nav{
        display: none;
    }

    nav.responsive{
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;   

    }

    nav.responsive ul{
        display: block !important;
        text-align: center;

    }

    nav.responsive ul li{
        margin: 5px 0;
    }

    #nav-icon{
        display: block;
        font-size: 25px;
    }

}
